table .line-block {
	vertical-align: middle;
    display: table-cell;
}

table th p {
	display: table-cell;
	vertical-align: middle;
}

.highlight {
	max-height: 500px;
	resize: vertical;
	overflow: auto;
}

.highlight[style*="height"] {
  max-height: unset;
}
